
@model framework_web_01.Models.sanpham
@using framework_web_01.Models

@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("Chitietsanpham", "SanPham", FormMethod.Post))
{
    <div class="main__form-wrap" align="center">
        <h1 class="main__form-heading">Chi tiết sản phẩm</h1>
        <div class="main_form-container">

            @{
                if (ViewBag.sqlq != null)
                {
                    foreach (sanpham item in ViewBag.sqlq)
                    {
                        <div class="data_left">
                            <img src="~/Content/images/@item.hinhanh" alt="hinh anh" />
                        </div>
                        <div class="data_right">
                            <table>
                                <tr>
                                    <th><h1>Tên sản phẩm</h1></th>
                                    <td><input type="text" value="@item.tensp" readonly /></td>
                                </tr>
                                <tr>
                                    <th><h1>Giá sản phẩm</h1></th>
                                    <td><h3>@item.gia</h3></td>
                                </tr>
                                <tr>
                                    <th><h1>Mã sản phẩm</h1></th>

                                    <td><input type="text" value="@item.masp" name="masp" readonly /></td>
                                    @*<td><h3 name="masp">@item.masp</h3></td>*@
                                </tr>
                                <tr>
                                    <th><h1>Mã loại sản phẩm</h1></th>
                                    <td><h3>@item.loai</h3></td>
                                </tr>
                                <tr>
                                    <th><h1>Mô tả</h1></th>
                                    <td><h3>@item.mota</h3></td>
                                </tr>
                            </table>

                            <div class="input__group-submit-btn">
                                @*<input type="number" name="soluong" value="1" min="1" id="soluong" />*@
                                <table class="tbl">
                                    <tr>
                                        <td>
                                            @Html.ActionLink("Đặt Mua", "ThemGioHang", "GioHang", new { id = Model.masp }, new { @class = "cn", @role = "button", @id = "Find" })
                                        </td>
                                        <td>
                                            <a class="cn" href="/GioHang/Index">Giỏ Hàng</a>
                                        </td>

                                        <td>
                                            <a class="cn" href="https://localhost:44321/">Về trang chủ</a>
                                        </td>

                                        @if (Session["role"] != null && ((int)Session["role"]) == 1)
                                        {
                                            <td>
                                                <a class="cn" href="/SanPham/SuaSP">Sửa</a>
                                            </td>
                                            <td>
                                                <input type="submit" value="Xóa" class="btn btn-default" />
                                            </td>
                                        }
                                    </tr>
                                </table>
                            </div>
                        </div>

                    }
                }
                else
                {
                    <p class="img--error">
                        <img src="~/Content/images/404error.png" />
                    </p>
                    <h1>Sản phẩm đã không còn tồn tại</h1>
                }
            }
        </div>
    </div>
}
